.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .icon {
        fill: var(--inverted-primary-color);
        margin-right: 10px;
    }
}

.collapsed {
    .link {
        transition: opacity 0.2s;
        opacity: 0;
        width: 0;
    }
}
